@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgba(0, 0, 0, 0.7);
  /*line-height: 1.6em;*/
}
header {
	padding-bottom: 20px;
}
h3 {
	font-family: 'Quicksand','Open Sans',sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
}
h5 {
	font-family: 'Quicksand','Open Sans',sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 40px;
}
a {
    color: #ff6a88;
    text-decoration: none;
}
a:visited {
	color: #ff6a88;
}
footer{
	padding-top: 40px;
	color:#cccccc;
}
/*side color palletes styling*/
aside {
	display: flex;
	flex-direction: column;
	padding-top: 140px;
}
#color1{
	width: 100px;
	height: 100px;
	background-color: #16ffde;
	border-radius: 50px;
	margin: 20px auto 20px auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
#color2{
	width: 100px;
	height: 100px;
	background-color: #f800ff;
	border-radius: 50px;
	margin: 20px auto 20px auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
#color3{
	width: 100px;
	height: 100px;
	background-color: #ffe33a;
	border-radius: 50px;
	margin: 20px auto 20px auto;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
@media (max-width: 991px) {
	aside{
		display:none;
	}
}
@media (max-width: 414px) {
	body{
		padding-top: 30px;
	}
	header{
		background-color: #EFF0F2;
	}
	#logo,#title,#featured {
		text-align: center;
	}
}